# Configuración de la base de datos PostgreSQL
DB_NAME=bd_tbcia
DB_USER=postgres
DB_PASSWORD=USAT2026
DB_HOST=localhost
DB_PORT=5432

# Configuración de Flask
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=tu_clave_secreta_aqui

# Rutas
UPLOAD_FOLDER=uploads/radiografias
